@import '../styles/flat.less';

.dash {
  margin-top: 2em;

  .dash-box {
    min-height: 214px;

    i.fa {
      margin-right: 0.5em;
    }
  }
}

.main-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  > svg {
    height: 8rem;
    width: 8rem;
  }
}

.dashboard-app-list {

  > .app {
    display: inline-block;
    width: 5em;
  }
}

.app-box {
  display: inline-flex;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .app-box-header {
    height: 5em;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #fff;
  }

  .app-box-label {
    text-align: center;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0.25em 0 0.75em 0;
  }
}
